<h1>Projects</h1>
<h3>Manage Teams</h3>
<div class="form">
  <form action="/project/assign" method="POST">
    <label>Team</label>
    <select name="teamName">
      {{#each teams}}
      <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
    <label>Project</label>
    <select name="projName">
      {{#each projects}}
      <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
    <input type="submit" value="Distribute">
  </form>
</div>