<table>
    <thead>
        <tr>
            <th>Model</th>
            <th>Price Per Day</th>
            <th>Rent Expires</th>
        </tr>
    </thead>
    <tbody>
        {{#each cars}}
        <tr>
            <td>{{model}}</td>
            <td>{{pricePerDay}} &euro;</td>
            <td>in {{expiresOn}} days</td>
        </tr>
        {{else}}
    <div><h1>No cars rented yet.</h1></div>
        {{/each}}
    </tbody>
</table>