<h1>Create Team</h1>
<div class="form">
    <form action="/team/create" method="POST">
        <label for="name">Team Name:</label>
        <input required type="text" id="name" name="name" value="{{name}}" /><br>
        <input type="submit" value="Create">
    </form>
</div>