<h1>Create Project</h1>
<div class="form">
    <form  action="/project/create" method="POST">
        <label for="name">Project Name:</label>
        <input required type="text" id="name" name="name" value="{{name}}" /><br>
        <label for="description">Project Description:</label>

        <label>Project Description</label>
        <textarea id="description" name="description">{{description}}</textarea>
        <input type="submit" value="Create">
    </form>
</div>